<div class="card">
  <div class="card-header">
    Blog post by: {{name}} at {{created_at}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post_body}}</p>
  </div>
</div>