<div class="card col-xs-10 my-3">
  <div class="card-header">
    Blog posted by {{user.name}} on {{format_date createdAt}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{post_body}}</p>
  </div>
</div>