<div class="row justify-content-center">
    <div class="col-6 text-center">
      <a class="btn btn-primary btn-lg" 
        data-toggle="modal" 
        data-target="#newPostModal">
      + New Post<a>
    </div>
  </div>