{{> new-post-button}}
<!--Render current blog posts-->
{{#if blogPosts}}
  
  <h2>All blog posts by {{ blogPosts.[0].user.name}}</h2>
  
  {{#each blogPosts as |bp|}}
    <a class="my-post">
      {{> blog-post-details}}
    </a>
  {{/each}}

{{/if}}

{{> new-post-modal}}
{{> edit-post-modal}}