<!-- Check to see if user is logged in and render "+ New Post Button"-->
{{#if logged_in}}
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <button type="button" class="btn btn-primary btn-lg">+ New Post<button>
    </div>
  </div>
{{else}}
  <!--If user is not logged in they will get option to login or sign up-->
  <div class="row justify-content-center">
     <div class="col-6 text-center">
      <a href="/login" class="btn btn-primary btn-lg">Signup/Login</a>
    </div>
  </div>
{{/if}}
<!--Render current blog posts-->
{{#if blogPosts}}
  {{#each blogPosts as |bp|}}
    {{> blog-post-details}}
  {{/each}}
{{/if}}